.game-board {
  width: 500px;
  height: 500px;
  border: 1px solid #61dafb;
  background-color: #61dafb;
  padding: 20px;
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}

.game-cell {
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  font-weight: bold;
  cursor: pointer;
}

.game-reset {
  margin: 25px;
  display: inline-block;
  padding: 15px 20px;
  color: white;
  font-size: bold;
  background-color: #61dafb;
  outline: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.game-result {
  font-size: 30px;
  color: red;
  font-weight: bold;
  margin: 25px;
}

.game-cell.is-x {
  color: red;
}
.game-cell.is-o {
  color: blue;
}
